body {
    background: #f0f0f0;
}
#menu-top{
/*  background: #04B404 !important;*/
  border-bottom: 1px solid #E6E6E6;
  /*box-shadow: 0px 3px 0px black;*/
  /*box-shadow: 1px 1px 5px #81F781;*/
  z-index: 1;
  padding: 0px;
 border:0px;
 border-radius: 0px;
 position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 10px;
  width: 1200px;
}
.menu-top{
	margin: 0px;
	border:0;
    background-color: #e5101d;
    box-shadow: 1px 2px 5px #FA5858;
    border-radius: 0px;

    position: -webkit-sticky;
  position: sticky;
   z-index: 10;
   top: 0;
}
.menu-center li a{
    color: #fff;
    text-decoration: none;
    padding: 19px;
    font-size: 13px;
}
.menu-center li{

}
.right-detail{
    border: 1px solid #BDBDBD;border-radius: 5px;
}
.ckbh{
    background: #D8D8D8;border-bottom: 1px solid #BDBDBD;padding: 5px;
}
.menu-center{
	padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: 12px;
}

.menu-main>ul>li>a:hover{
    box-shadow: 20px 10px 20px 10px #B40404 inset !important;
}
.menu-main{
    width: 1170px;
    margin: 0 auto;
    height: 50px;
    margin-left: 90px;
}
.tk{
	background: #fff !important;
	height: 34px;
	border-radius: 0;
	/*color: #fff !important;*/
}
.tk:hover span{
    color: black;
}
.sss{
    padding: 0px 0;                
    list-style-type: none;
    margin-right: 10px;
    margin-left: 10px;

}
.ssss{
    padding: 0px 0;                
    list-style-type: none;
    margin-left: 30px;
    float: right;
    margin-right: 27px;
}
.ssss a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: 11px;
}
.ssss a span{
	font-size: 27px;
}
.sss>li>a, .sss>a{
    /*display: block;*/
    text-decoration: none;
    width: 90px;
    margin-left: 20px;
    padding: 5px;
    text-align: center;
    color: #fff;
}
.submit-search{
	background:#fff; 
	color: black;
	border: 0px;
}

.right-menu-top{
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	height: 100%;
}
.right-menu-top>li{
	height: 100%;

}
.cart{
	position: relative;
}
#of-cart{
	position: absolute;
	top: 4px;
	right: 0px;
	font-size: 14px;
	background: #DBA901;
	color: #fff;
	width: 25px;
	border-radius: 30%;
}
.navbar-right-t{
	margin-right: 0;
	height: 20px;
}
#thiennguyen{
    width: 100px;
    padding:15px 15px 15px 0px;
}
.mau-chu2 {
	font-size: 12px;
}
/*.twobanner a{
	margin-bottom: 100px;
}*/
.span-of-a{
	width: 82%;float: right;background: #fff;height: 60px;padding: 5px;
}
.footer {
    padding: 50px 0 20px 0;
    background-color: #35404f;
    color: #878c94;
    /*width: 600px*/
}
.footer .title{text-align: left;color:#fff;font-size:25px;}


.footer .social-icon{padding:0px;margin:0px;}
.footer .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.footer .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
.footer .acount-icon .fa{margin-right:25px;}


.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}

.footer .payment{margin:0px;padding:0px;list-style-type:none}
.footer .payment li{list-style-type:none}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float: left;
    font-size: 25px;
    padding: 10px 10px;
}
.top-bar{
	background-color:#B40404;
	min-height:35px;
	padding-top:5px;
	padding-bottom: 0px;
}
.top-bar .nav-text {
    color: #fff;
    display: block;
    margin-top: 1px;
}
.top-bar .social{
	color:#FFF;
	display:inline-block;
	padding:5px;
	text-decoration: none;
}

.top-bar .tools{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.top-bar .tools li{list-style-type: none;display:inline-block;}
.top-bar .tools li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding-left: 15px;
    padding-top: 5px;
}
/*.wrapper-image img{
	width: 200px;
}*/
.chay{
	margin:100px;
}
 /*Manin*/
 .discount{
 	background-image: linear-gradient(-90deg,#ec1f1f 0%,#ff9c00 100%);
    border-radius: 10px;
    padding: 1px 7px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 0px;
    color: #000;
}
.phone-div{
    position: relative;
}
.phone-div img{
    width: 100%;
    max-height: 260px;
}
.name-phone{
	padding: 0 5px;
	color: #000;
	text-align: center;
}
.name-phone-price{
	color: #000;
	text-align: center;
    padding-left: 5px;
}
.name-phone-price-s{
    color: #000;
    padding-left: 0px;
}
.items-phone{
	width: 20%;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
    margin-bottom: 20px;
    cursor:pointer;
    padding: 0 10px;
}
.div-of-items-phone{
border:1px solid #D8D8D8;background: #F8EFFB;
padding: 5px;

}
.div-of-items-phone:hover{
	box-shadow: 2px 2px 10px grey;
}
.color-price{
	color: #e5101d;
}
.evaluate{
	padding: 0 5px;
	color: #000;
    font-size: 14px;
}
.price{
	text-decoration: line-through;
	font-size: 12px;
}
.price-detail{
    text-decoration: line-through;
    font-size: 16px;
    color: #848484;
}
.evaluate span{
	color: #DBA901;
}
.title-content{
    border-bottom: 1px solid #D8D8D8;margin-bottom: 15px;
}
.title-content h4 {
    padding: 10px 0 0 0;
    text-align: center;
    font-size: 20px;
}
.title-content2{
    border-bottom: 1px solid #D8D8D8;margin-bottom: 15px;
    border-top: 15px solid #F2F2F2;margin-bottom: 15px;
   
}
.title-content2 h4 {
    padding: 10px 0 0 0;
    text-align: center;
    font-size: 20px;
}
.pr-title{
    background: #fff;padding: 0px;
}

 /*Product detail*/
 .image-detail{
    width: 39%;
    float:left;
    margin-left: 20px;
    /*padding-left: 45px;*/
 }
 .easyzoom {
     padding-left: 45px;
 }
 .top-detail-price{
    width: 36%;
    float:left;
    padding: 10px;
 }
 .price-detail-ram{
    border: 1px solid #848484;
    padding: 0px;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px grey;
    position: relative;
    margin: 0 15px 10px 0;
    width: 115px;
    float: left;
 }
 .price-detail-ram p{
    margin: 3px;
 }
 .message-message{
    position: absolute;
    background: red;
    color: #fff;
    top: 2px;
    right: 2px;
    font-size: 6.5px;
    padding: 2px;
    border-radius: 50%;
 }
 /*.price-detail-ram:hover{
    border: 1px solid red;
 }*/
 .image-detail-s{
    cursor:pointer;
    margin: 10px 0;
    width: 100%;
 }
 .image-detail-a{
    cursor:pointer;
    margin: 10px 0;
    width: 97%;
 }
.bought{
    background: #ff6600;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius:5px;
    padding: 2px;
    margin-bottom: 10px;
 }
 .bought h3, .bought p{
    margin:0px;
    padding: 2px;
 }
 .color{
     width: 25px;
     height: 25px;
    display: block;
    border-radius: 50%;
    float: left;
    cursor: pointer;
    margin: 0 5px;
    text-align: center;
    box-shadow: 1px 1px 4px 1px grey;
 }
 .colors{
     width: 27px;
     height: 27px;
     box-shadow: 1px 1px 8px 1px grey;
 }
.class-ok{
     top:4px;
     color: #fff;
 }
 .div-color{
     padding: 10px 0;margin-bottom: 10px;
 }
 .div-color b{
     float: left;margin-right: 10px;
 }
 /*Image ssssss*/
 .columns {
  float: left;
  width: 8%;
}
/* The Modal (background) */
.my-modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;

}

/* Modal Content */
.my-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 800px;
  max-width: 1200px;
}

/* The Close Button */
.closes {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.closes:hover,
.closes:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.padding-list-image{
    margin: 10px;
    margin-bottom: 20px;
}
/*-------------------*/
.table-striped td{
    padding:10px 10px !important;
}
.cam-ket{
    background: #01DF01;
    color: #fff;
    top: 2px;
    right: 4px;
    font-size: 6.5px;
    padding: 3px;
    border-radius: 50%;
}
.color-table{
    width: 50px;height: 20px;
    box-shadow: 1px 1px 4px 1px grey;
}
.quantity{
    width: 70px;
}
.right-pd{
    width: 22%;float:left;margin-top: 30px;
}
/*Dropdown search*/
.dropdown-search{
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 92%;
    top: 35px;
    border-radius: 5px;
     z-index: 10;
}
.dropdown-content p {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #E6E6E6;
    margin: 0px;
    cursor: pointer;
}
.dropdown-content p .glyphicon-repeat{
    font-size: 12px;
    margin-right: 4px;
}
.dropdown-content p:hover {
    background-color: #ddd;
}
.dropdown-search-aj {
    /*display: none;*/
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 92%;
    top: 35px;
    border-radius: 5px;
     z-index: 10;
    /*padding:5px;*/
}
.div-image {
    width: 13%;
    float: left;
    height: 100%;
}
.div-name-c {
    width: 80%;
    float: left;
    height: 100%;
    margin-left: 10px;
    margin-top: 3px;
}
.div-name-c p{
    margin-bottom: 2px;
}
.price-s{
    color:red;font-size: 13px;
    margin-right: 5px;
}
.d-of-d{
    cursor: pointer;
    /*height: 60px;*/
    padding: 2px 2px 3px 8px;
    border-bottom: 1px dotted #BDBDBD;
    border-radius: 3px;
}
.div-image img{
    width: 100%;
    height: 100%;
}
#tt-price{
    font-size: 20px;color: red;
}
.gh{
    margin: 0 auto;width: 200px;
}
.gh img{
    width:200px;display: block;
}
.gh h5{
    text-align: center;
    margin:20px;
}
.gh button{
    margin-left: 30px;
}

/*form đăng nhập*/
.login {
/*background: linear-gradient(to bottom, #FE2E2E 20%, #fff 120%);*/
background: #E6E6E6;
width: 100%;
justify-content: center;
align-items: center;
display: flex;
height: 100%;padding: 20px;
}
.account-login {
width: 500px;
}
.form-control:focus {
box-shadow: none;
}
.account-login h1 {
font-size: 25px;
text-align: left;
color: #fff;
text-transform: uppercase;
font-weight: bold;
border-radius: 5px;
}
.login-form input {
width: 100%;
position: relative;
border-bottom: 1px solid #a39e9e;
padding: 0;
border-top: 0px;
border-left: 0px;
border-right: 0px;
box-shadow: none;
height: 40px;
border-radius: 0px;
}
.login-form {
background: #fff;
float: left;
width: 100%;
padding: 40px 40px 40px 20px;
border-radius: 5px;
}
.btn-login{
width: 100%;
background: #FE2E2E;
font-size: 20px;
padding: 11px;
color: #fff;
border: 0px;
margin: 10px 0px 20px;
}
.btn-login:hover{
    color: #fff;
    opacity: 0.8;
}
.remember {
float: left;
width: 100%;
margin: 10px 0 0;
}
/* Customize the label (the container) */
.custom-checkbox {
display: block;
position: relative;
padding-left: 27px;
margin-bottom: 12px;
cursor: pointer;
font-size: 13px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
font-weight: normal;
padding-top: 2px;
float: left;
}
/* Hide the browser's default checkbox */
.custom-checkbox input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}
/* Create a custom checkbox */
.custom-checkbox .checkmark {
position: absolute;
top: 0;
left: 0;
height: 20px;
width: 20px;
background-color: #bfbcbc;
}
/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
background-color: #747474;
}
/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
background-color: red;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}
/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
display: block;
}
/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
@media (max-width: 767px){
.account-login {
    width: 90%;
	}
}
.gender input{
    width: 20px;height: 15px;
}
.gender label{
    font-weight: normal;
}
.gender{
    /*border-bottom: 1px solid black;*/
}
.login-form .form-group > label{
    padding-top: 10px;
}

/*// Thanh toán*/

.thanht {
    background: #E6E6E6;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: block;
    height: 100%;
    padding: 10px 20px;
    margin-bottom: 15px;
}
.div-tt{
    width: 48%;float: left;
}
.color-tt{
    width: 50px;height: 15px;
    box-shadow: 1px 1px 4px 1px grey;
    display: inline-block;
    margin-left: 10px;
}

/*// invoid*/
.invoid-div{
    border-right: 1px dashed  black;
    width: 140px;
    float: left;
    margin-right: 10px;
    /*padding: 10px;*/
}
.invoid-tt{
    float: left;
}
.dropdown-menu li a{
    padding: 8px;
}
.requied{
    color: red;
}
.success-s{
    text-align: center;
    color: #fff;
    background: #04B404;
    padding: 10px;
    border-radius: 5px;
}
.already_exist{
    text-align: center;
    color: #fff;
    background: red;
    padding: 10px;
    border-radius: 5px;
}
.title-order{
    border-bottom:1px solid #A4A4A4;
    height: 30px;
}
.title-order p{
    width: 150px;
    float: left;
}
.text-color{
    text-align: center;color: red;
}
.lo-right{
    padding-bottom:10px;
    padding-top: 20px;
}
.lo-right>.form-group>.col-sm-4>p{
    text-align: right;
}
.lo-right>.form-group{
    margin-bottom: 6px;
}
.myProgress {
  width: 52%;
  float: left;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 6px;
  margin-left: 5px;
}
.myBar {
  height: 6px;
  background-color: #f25800;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 5px;
}
.revew{
    border:1px solid #BDBDBD;border-radius: 5px;padding: 0px;
}
.left-revew{
    border-right:1px solid #BDBDBD;
    height: 120px;
}
.color-revew{
    color: #fd9727;
}
.color-revew-s{
    color:#BDBDBD;
}
.t-aling{
    text-align: center;
}
.item-review{
    clear: both;
    height: 20px;
    margin-left: 5px;
    margin-bottom: 2px;
}
.rv-ds{
    width: 110px;float: left;
    margin: 0 0 0 15px;
}
.five-rv{
    width:30px;
    float: left;
    margin: 0;
}
.center-rivew{
    padding:5px;border-right:1px solid #BDBDBD;
}
.send-rv{
    margin-top: 50px;
}
.send-revew{
    border:1px solid #BDBDBD;
    border-radius: 5px;
    margin-top: 15px;
}
.s-select{
    width: 150px;
    float: left;
}
.list-sao{
    width: 250px;
    float: left;
    margin: 3px;
}
.item-sao{
    color: #BDBDBD;
    /*text-shadow: 1px 4px 6px #000, 0 0 0 #fff, 1px 4px 6px #000; fd9727*/
}
.textarea{
    border-radius: 7px;
    padding: 5px;
    width:77%;
    float: left;
    margin-bottom: 10px;
}
.btn-send-rv{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
.closes-rv{
    margin: 40px 0 0 20px;
    display: none;
}
.list-comment{
    margin-top: 20px;
}
.item-comment{
    margin-bottom: 10px;
}
.list-comment p{
    margin-bottom: 0px;
}
.cancel-order{
    float: right;
}
.search-order{
    /*height:30px;*/
    margin-left: 10px;
    /*padding: 5px;*/
}
.div-s-or{
    width: 45%;float: right;margin-bottom: 10px;
}
.div-s-or input{
    height: 30px;
    /*border-radius: 2px;*/
}
.div-s-tab{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding-top: 15px;
    clear:both;
}
.div-s-tab>a{
    padding: 10px;
    color: #000;
}
.div-s-tab>a:hover{
    color:red;
    text-decoration: none;
}
.favorite{
    font-size: 25px;
    float: right;
    margin-right: 5px;
    cursor: pointer;
    color: #000;
}
.favorite-color{
    font-size: 25px;
    float: right;
    margin-right: 5px;
    cursor: pointer;
    color:red;
}
.lyt{
    float: right;margin-right: 0px;
}
.lyt b{
    margin:2px;
}
.favorite:hover{
    color: red;
    /*background: red;*/
}
.are-like{
    margin-top: 40px;
}
.tr-list-order:hover{
    box-shadow: 1px 1px 2px 0px #BDBDBD;
    background: #F2F2F2;
}
.tr-list-order{
    height: 50px;
    align-items: center;
}
.cur-list{
    cursor: pointer;
}
.chon-dg{
    clear: both; 
    color: red;
    margin-left: 150px;
    display: none;
}
.content-rv{
    clear: both; 
    color: red;
    width: 300px;
    display: none;
}
.boughted{
    background: #01DF01;
    color: #fff;
    top: -2px;
    left: 10px;
    margin-right: 10px;
    right: 4px;
    font-size: 6.5px;
    padding: 3px;
    border-radius: 50%;
}
.grey-date{
    color:#6E6E6E;
}
.blue-date{
    color:#2E2EFE;
}

