<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        
    </style>

</head>
<body>
    <h3>Cảm ơn bạn đã đăng ký thành viên</h3>
    <p>Click vào đây để xác nhận đăng ký 
        <a  th:href="@{'http://localhost:8084/JV30_Project_Final/confirm-register/' + ${account.id}}">Xác nhận</a>
    </p>
</body>
