<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        .login {
            /*background: linear-gradient(to bottom, #FE2E2E 20%, #fff 120%);*/
            background: #E6E6E6;
            width: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            height: 100%;padding: 20px;
        }
        .iv-detail{
            width: 720px;
            margin-left: 80px;
        }
        .login-form {
            background: #fff;
            float: left;
            width: 100%;
            padding: 40px 40px 40px 20px;
            border-radius: 5px;
        }
        .invoid-div{
            border-right: 1px dashed  black;
            width: 140px;
            float: left;
            margin-right: 10px;
            /*padding: 10px;*/
        }
        .invoid-pay{
            float: left;
        }
        .table{
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
            border-spacing: 0;
            display: table;
        }
        .table th{
            border-bottom: 2px solid #E6E6E6;
            text-align: left;
        }
        .table td{
            border-top: 2px solid #E6E6E6;
        }
        .color-tt{
            width: 50px;height: 15px;
            box-shadow: 1px 1px 4px 1px grey;
            display: inline-block;
            margin-left: 10px;
        }
        .chi-tsp{
            margin-top: 100px;
            clear: both;
        }
        .hd{
            color: red;
            text-align: center;
            border-bottom:  2px solid #E6E6E6;
            padding: 10px;
        }
        .remove-s{
            margin-left: 10px;
        }
    </style>

</head>
<body>
  <h2 class="hd">Chi tiết hóa đơn</h2>
    <div class="login">
        <div class="iv-detail">
            <div class="login-form">
                <div class="invoid-div" >
                    <p>MÃ ĐƠN HÀNG</p>
                    <p><b th:text="${order.id}"></b></p>
                </div>
                <div class="invoid-div">
                    <p>NGÀY ĐẶT</p>
                    <p><b th:text="${order.orderDateFormatted}"></b></p>
                </div>
                <div class="invoid-div">
                    <p>TỔNG TIỀN</p>
                    <p><b th:text="${order.totalPriceFormatted}"></b></p>
                </div>
                <div class="invoid-pay">
                    <p>PHƯƠNG THỨC THANH TOÁN</p>
                    <p><b>Trả tiền mặt khi nhận hàng</b></p>
                </div>
                <h4 class="chi-tsp">Chi tiết sản phẩm</h4>
                <table class="table" >
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Đơn giá</th>
                    </tr>
                    <tbody th:each="odt : ${order.orderDetails}">
                        <tr>
                            <td>
                                <p href=""><span th:text="${odt.product.name}"></span> Ram 
                                    <span th:text="${odt.product.ram}"></span> / 
                                    <span th:text="${odt.memory}"></span></p>
                                <p>
                                    Màu <span class="color-tt" th:style="|background:${odt.color}|"></span><b> X</b>
                                    <span class="remove-s" th:text="${odt.quantity}"></span>  sản phẩm
                                </p>
                            </td>
                            <td>
                                <p style="color:red;">
                                    <span th:text="${#numbers.formatDecimal((odt.price * odt.quantity), 0, 'DEFAULT', 0, 'DEFAULT')}"></span><span> đ</span>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
