<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style type="text/css">
            .login {
                /*background: linear-gradient(to bottom, #FE2E2E 20%, #fff 120%);*/
                background: #E6E6E6;
                width: 96%;
                justify-content: center;
                /*align-items: center;*/
                display: flex;
                height: 100%;padding: 20px;
            }
            .login-form {
                background: #fff;
                float: left;
                width: 100%;
                padding: 0px;
                border-radius: 5px;
            }
            .table{
                width: 100%;
                max-width: 100%;
                margin-bottom: 20px;
                border-collapse: collapse;
                border-spacing: 0;
                display: table;
            }
            p,h3,th{
                color: #000;
            }
            .table th{
                border-bottom: 2px solid #E6E6E6;
                text-align: left;
                padding: 10px;
            }
            .table td{
                border-top: 2px solid #E6E6E6;
                padding: 0 10px;
            }
            .table td p{
                margin: 10px 0;
            }
            .color-tt{
                width: 50px;height: 15px;
                box-shadow: 1px 1px 4px 1px grey;
                display: inline-block;
                margin-left: 10px;
            }
            .chi-tsp{
                margin-top: 100px;
                clear: both;
            }
            .hd{
                color: red;
                text-align: center;
                border-bottom:  2px solid #E6E6E6;
                padding: 10px;
            }
            .remove-s{
                margin-left: 10px;
            }
            .dongia{
                color: red;
            }
            /**/
            .div-tt {
                width: 53%;
                float: left;
                margin-right: 20px;
                margin-top: 0px;
            }
            .group{
                width: 100%;
            }
            .left{
                width: 35%;
                float: left;
                margin: 0px;
            }
            .left p{
                text-align: right;
                padding-right: 10px;
            }
            .right{
                width: 65%;
                float: left;
            }
            .right p{
                padding-left: 10px;
            }
            .left p,.right p{
                margin: 8px 5px;
            }
            .div-right{
                width: 47%;
            }
            .tt{
                text-align: center;
                margin:0px;
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>
        <h2 class="hd" background="red">Chi tiết hóa đơn</h2>
        <div class="login">
            <div class="div-tt">
                <h3 class="tt"> Thông tin</h3>
                <div class="login-form">
                    <div class="group">
                        <div class="left">
                            <p><b>Mã đơn hàng:</b></p>
                        </div>
                        <div class="right">
                            <p th:text="${order.id}"></p>
                        </div>
                    </div>
                    <div class="group">
                        <div class="left">
                            <p><b>Ngày đặt:</b></p>
                        </div>
                        <div class="right">
                            <p th:text="${order.orderDateFormatted}"></p>
                        </div>
                    </div>
                    <div class="group">
                        <div class="left">
                            <p><b>Tổng tiền:</b></p>
                        </div>
                        <div class="right">
                            <p th:text="${order.totalPriceFormatted}"></p>
                        </div>
                    </div>
                    <div class="group">
                        <div class="left">
                            <p><b>Email:</b></p>
                        </div>
                        <div class="right">
                            <p th:text="${order.customer.email}"></p>
                        </div>
                    </div>
                    <div class="group">
                        <div class="left">
                            <p><b>Họ tên:</b></p>
                        </div>
                        <div class="right">
                            <p th:text="${order.customer.name}"></p>
                        </div>
                    </div>
                    <div class="group">
                        <div class="left">
                            <p><b>Số điện thoại:</b></p>
                        </div>
                        <div class="right">
                            <p th:text="${order.customer.phoneNumber}"></p>
                        </div>
                    </div>
                    <div class="group">
                        <div class="left">
                            <p><b>Trạng thái:</b></p>
                        </div>
                        <div class="right">
                            <p th:text="${order.status.statusOrder}"></p>
                        </div>
                    </div>
                    <div class="group">
                        <div class="left">
                            <p><b>Địa chỉ nhận hàng:</b></p>
                        </div>
                        <div class="right">
                            <p th:text="${order.customer.address}"></p>
                        </div>
                    </div>
                    <div class="group">
                        <div class="left">
                            <p><b>Phương thức thanh toán:</b></p>
                        </div>
                        <div class="right">
                            <p>Trả tiền mặt khi nhận hàng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-right">
                <h3 class="tt"> Sản phẩm</h3>
                <div class="login-form">
                    <table class="table" >
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Đơn giá</th>
                        </tr>
                        <tbody th:each="odt : ${order.orderDetails}">
                            <tr>
                                <td>
                                    <p>
                                        <span th:text="${odt.product.name}"></span> Ram 
                                        <span th:text="${odt.product.ram}"></span> / 
                                        <span th:text="${odt.memory}"></span></p>
                                    </p>
                                    <p>
                                        Màu <span class="color-tt" th:style="|background:${odt.color}|"></span><b> X</b>
                                        <span class="remove-s" th:text="${odt.quantity}"></span>  sản phẩm
                                    </p>
                                </td>
                                <td>
                                    <p  class="dongia">
                                        <span th:text="${#numbers.formatDecimal((odt.price * odt.quantity), 0, 'DEFAULT', 0, 'DEFAULT')}"></span><span> đ</span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
