.color-role{
    width: 200px; 
    background: #FE9A2E;
    padding: 5px; margin-top: 5px; 
    box-shadow: 1px 1px 3px 1px  #2E2E2E;
}
#text-role{
    background: #E6E6E6; 
    box-shadow: 1px 2px 1px #BDBDBD;
}
.list-review{
    width: 100px;
}
.color-memory{
    font-size: 20px; 
    border-width: 3px; 
    /*border-style: solid;*/
    background: #D8D8D8;
    border: 1px solid #A4A4A4;
    margin-right: 10px;
    box-shadow: inset 0px 5 5 5px #848484;
}